.wd-banner-image {
    width: 100%;
    height: 250px;
}
button.wd-button-color {
    background-color: white;
}
div.wd-tuit-font {
    font-size: 14px;
}
div.wd-name-font {
    font-size: 18px;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}
.wd-banner-picture {
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid #000000;
}
.wd-profile-picture {
    position: absolute;
    height: 150px;
    width: 150px;
    top: 180px;
    left: 23px;
    border: 1px solid #000000;
}
.wd-color-black {
    color: black;
}