

.wd-rounded-corners-all-around {
 border-radius: 40px;
 width: 95%;
 height: 3%;
}

.wd-background-gray {
background-color: #a9a9a9;
}

.wd-color-white { color: white; }

#wd-settings {
    float:right;
}
.wd-logo {
     width:38px;
     height:38px;
}

.wd-hyperlink-display {
    display: inline-block;
    padding-left:5em;

}

.wd-hyperlink-font-padding {
    font-size: 15px;
    padding: 16px;

}

.wd-first-link {
    color: rgb(29,161,242);
    text-underline-offset: 1em;
}

.wd-other-hyperlinks {
text-decoration: none;
}

.wd-line-color {
    border: 1px solid gray;
}

.wd-div-title-tuits {
    font-size: 13px;
    margin: 0px;
}

.wd-div-heading {
    color: white;
    font-size: 15px;
    margin: 0px;
}

.wd-d-heading {
    color: white;
    font-size: 13px;
}

.wd-d-text {
    font-size: 13px;
}

.wd-image-details {
    float: right;
    height: 100px;
    margin-right: 16px;
    width: 100px;
    border-radius: 20%;
    padding: 1em;
}

.wd-icon-details {
    height: 20px;
    width: 20px;
}

.wd-dots-span {
    float: right;
}



