.wd-body-color {
background-color: black;
}

.wd-rounded-corners-all-around {
 border-radius: 50px;
 width: 90%;
 height: 40%;
 border-left: 0px;
}

.wd-background-gray {
background-color: white;
}

.wd-color-black { color: black; }

#wd-settings {
    float:right;
}
.wd-logo {
     width:38px;
     height:38px;
}

.wd-hyperlink-display {
    display: inline-block;
    padding-left:5em;

}

.wd-hyperlink-font-padding {
    font-size: 15px;
    padding: 16px;

}

.wd-first-link {
    color: #1DA1F2;
    text-underline-offset: 1em;
}

.wd-other-hyperlinks {
text-decoration: none;
}

.wd-line-color {
    border: 1px solid gray;
}

.wd-div-title-tuits {
    font-size: 13px;
}

.wd-div-title-tuits-card {
    font-size: 10px;

}

.wd-d-heading {
    color: white;
    font-size: 13px;
}

.wd-d-text {
    font-size: 12px;
}

.wd-image-details {
    float: right;
    height: 10%;
    width: 15%;
    border-radius: 20%;
}


.wd-image-details-settings {
    float: right;
    height: 5%;
    width: 5%;
    border-radius: 20%;
}

.wd-icon-details {
    height: 2%;
    width: 2%;
}

.wd-icon-details-gear {
    height: 7%;
    width: 7%;
}

.wd-dots-span {
    float: right;
}
.wd-color-icons-names {
color: white;}

.search-form {
  border-radius: 30px 0px 0px 30px;
}

.search-btn {
  border-radius: 0px 30px 30px 0px;
  cursor:pointer;
  background-color: white;
 }


.form-control {
border-radius: 40px !important;
height: 20% !important;
width: 100% !important;
}

.wd-border-solid {
      border-style: solid; }

.wd-border-color {
      border-color: #222222; }

.wd-background-color {
      background-color: #222222; }

.form-control.wd-background-color {
    background-color: #222222; }

.wd-line-below {
border-bottom: 1px solid #555;
}

.wd-tweet-button {
background-color: #1DA1F2;
border-radius: 40px;
border: 0;
height: 5%;
width: 100%;
color: white;
text-align: center;
font-size: 80%;
}

.wd-border-top-row-thin {
   border-width: 0.5px 0.5px 0px 0.5px;
   padding-bottom: 10px;
 }

.wd-follow-button {
 background-color: white;
 border-radius: 40px;
 border: 0px;
 width: 100%;
 height: 40%;
 color: black;
 text-align: center;
 font-size: 12px;
 }

.wd-padding-right-col {
padding: 2px;
}

.wd-name-text {
   font-size: 15px;
}

.wd-right-column-padding {
    padding: 0px;
}

.wd-name-text-right {
   font-size: 12px;
}
img.wd-scale-image {
width: 100%;
height: 40%;
}

.wd-rounded-follow-icon {
  float: left;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.nav-item.wd-color-font{
color: white;}

.nav-link.wd-color-font{
color: white;}

.nav-link.wd-color-font-other{
color: rgb(110, 118, 125);}

.wd-color-font-other{
color: rgb(110, 118, 125);}

.wd-color-font{
color: white;}

.wd-font-size-below-image {
font-size: 10px;}


.wd-color-font {
  color: white;
}

.wd-bottom-left {
  position: absolute;
  bottom: 0%;
  left: 1%;
  font-size: 10px;
  text-align: left;
}
.wd-bottom-left-2 {
 font-size: 14px;
}

.wd-container {
  position: relative;
  text-align: center;
  color: white;
}



.wd-border-content-thin-2 {
    border-width: 0px 0.5px 0px 0.5px;
    border-radius: 0px 0px 0px 0px;
 }

.wd-font-bold-white {
   color: white;
}

.wd-font-bold-white-smaller {
   font-weight: bold;
   color: white;
   font-size: 8px;
}

.wd-twitter-blue {
color:#1DA1F2;
}

.wd-border-top-row-thin-rounded {
   border-width: 0px 0px 0px 0px;
   padding-bottom: 10px;
   border-radius: 10px 10px 0px 0px;
 }

.wd-card-title {
color: white;
}

.wd-card-title-card {
text-align-center;
font-size: 9px;
}

.wd-card-title-card-show {
text-align-center;
font-size: 13px;
font-weight: bold;
}

.wd-card-font-color {
color: white;}

.wd-image-card {
   width: 100%;
   height: 90%;
}

.wd-border-radius {
    border-radius: 10%;!
}

.wd-icon-details-card {
    height: 18%;
    width: 16%;
}

.wd-icon-details-card-flag {
      height: 20%;
      width: 11%;
}

.wd-links {
text-decoration: none;
}

.wd-links-color {
  color: rgb(110, 118, 125);
}

.form-control:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
}


.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 3.9rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.wd-form-control {
    height: 4%;
    width: 90%;
    border-radius: 40px 40px 40px 40px;
    padding-left: 2.375rem;
    color: rgb(110, 118, 125);
}

.nav-link.active {
    font-weight: bold;
}

.nav-link.active i{
    zoom: 140%;
}

.wd-border-active-link {
 border-bottom:3px solid #1DA1F2
}

 div.override-div {
    border-left: solid rgb(26,26,26) 2px;
    border-right: solid rgb(26,26,26) 2px;
    border-top: solid rgb(26,26,26) 2px;
 }