.wd-logo-dot {
    width:25px;
    height:25px;
}

.wd-d-text {
    font-size: 15px;
    color: rgb(110, 118, 125);
}

.wd-font-white {
   color: white;
   font-size: 12px;
}

.wd-rounded-avatar {
  float: left;
  height: 48px;
  width: 48px;
}

.card-body.override-card-color {
    background-color: black;
}