.wd-body-color {
background-color: black;
}

.wd-color {
  color: rgb(110, 118, 125);
}

.wd-color-background-gray {
  background-color: rgb(110, 118, 125);
}


.wd-color-black { color: black; }

.wd-color-font{
color: white;
}
.override-wd-color-font{
color: white;
text-decoration: none;
}

.wd-image-details {
    float: right;
    height: 80px;
    width: 90px;
    border-radius: 20%;
}

.wd-d-heading {
    color: white;
    font-size: 12px;
}

.wd-links-color {
  color: rgb(110, 118, 125);
}

.wd-icon-details {
    height: 15px;
    width: 15px;
}
.wd-dots-span {
    float: right;
}

img.wd-scale-image {
width: 100%;
height: 40%;
}

.wd-d-text-white {
    font-size: 15px;
    color: white;
    font-weight: bold;
}
.wd-d-text-white-override {
    font-size: 15px;
    font-weight: bold;
}
.wd-d-text {
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.wd-font-bold-white {
   color: white;
   font-size: 12px;
   font-weight: bold;
}

.wd-d-gray-text {
 color: rgb(110, 118, 125);
 font-size: 14px;
}

.wd-no-decoration {
    text-decoration: none;
}